@{title('Iov data display platform')}

<hr/>
<br/>
<!--<p class="center">-->
<!--社区自由论坛<br/>-->
<!--</p>-->
<div class="forum-nav" onclick="forum();return false;">
    社区自由论坛
    <!--<ul>-->
    <!--&lt;!&ndash;<li><a class="yeva" href="#" onclick="appUseCountDisplay();return false;">App use count</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li><a class="yeva" href="/map/world">World map</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li><a class="yeva" href="/forum/display">论坛</a></li>&ndash;&gt;-->

    <!--</ul>-->
</div>
<br/>
<br/>

<script type="text/javascript">
    function forum() {
        window.location.href = "/forum/display"
    }
</script>